@use './helpers' as *;
@use './blocks/button';
@use './blocks/burger-button';

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: 0.2s;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

html {
  &.is-lock {
    overflow: hidden;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #131313;
  color: #ffffff;
}

.container {
  position: relative;
  max-width: 1382px;
  padding: 22px;
  margin: 0 auto;
}

.shadow {
  position: relative;
  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 151px; // Висота градієнта
    background: linear-gradient(to bottom, #131313, transparent 100%);
    z-index: 1;
  }

  &::before {
    top: -149px; // Щоб градієнт заходив на попередню секцію
    transform: rotate(180deg); // Дзеркально для плавного злиття
  }

  &::after {
    bottom: -150px; // Щоб градієнт заходив на наступну секцію
  }
}

.fw-600 {
  font-weight: 600;
}

.kontakt {
  &__title {
    color: #ffffff;
    font-family: 'Arizonia', Sans-serif;
    font-size: 8em;
    font-weight: 700;
    letter-spacing: 12px;

    @include mobile {
      font-size: 4em;
    }

    @include mobile-s {
      font-size: 3em;
    }
  }
}

.support {
  padding-block: 30px;

  &__icon {
    @include square(50px);
    color: #db9423;
  }

  &__wrapper {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__map {
    grid-column: 1 / -1;
  }

  &__kontakt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 3px solid #db9423;
  }

  &__calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 3px solid #db9423;
  }

  &__slogan {
    color: #db9423;
    font-family: 'Arizonia', Sans-serif;
    font-size: 4em;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
  }

  &__title {
    color: #db9423;
    font-family: 'Arizonia', Sans-serif;
    font-size: 4em;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;

    @include mobile {
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 8.5px;
    margin-bottom: 30px;

    @include mobile {
      font-size: 16px;
      letter-spacing: 2px;
    }
  }

  &__phone {
    font-size: 32px;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 10px;
  }
}

.calendar {
  &__title {
    color: #db9423;
    font-family: 'Arizonia', Sans-serif;
    font-size: 4em;
    font-weight: 700;
    letter-spacing: 2px;
  }
  &__subtitle {
    text-align: center;
    color: #ffffff;
    // font-family: 'Poppins', Sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 8.5px;
    margin-bottom: 30px;

    @include mobile {
      font-size: 16px;
      letter-spacing: 2px;
    }
  }

  &__wrapper {
    display: grid;
    gap: 10px;
    margin-bottom: 10px;

    @include laptop {
      flex-direction: column;
      align-items: center;
    }
  }

  &__date {
    text-align: center;
  }
}

.mt-70 {
  margin-top: 70px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../images/heroImage.webp') center/cover no-repeat;

  &__kontakt {
    position: relative;
    width: 100%;
    height: 60vh;
    background-position: 50% 40%;
    background: url('../images/heroImage.webp') center/cover no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include tablet {
    height: 80vh;
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    text-align: center;
    color: white;
    max-width: 750px;
  }

  &__logo {
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
  }

  &__title {
    // font-size: 28px;
    // font-weight: bold;
    // text-transform: uppercase;
    // letter-spacing: 2px;
    margin-bottom: 10px;
    // font-weight: 700;

    text-align: center;
    color: #ffffff;
    // font-family: 'Poppins', Sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 10px;

    @include mobile {
      font-size: 16px;
      letter-spacing: 2px;
    }
  }

  &__subtitle {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 300;

    @include mobile {
      font-size: 14px;
    }
  }

  &__button {
    // background-color: #f5a623;
    // color: white;
    // border: none;
    // padding: 14px 28px;
    // font-size: 18px;
    // cursor: pointer;
    // border-radius: 5px;
    // transition: 0.3s ease-in-out;
    // text-transform: uppercase;
    // font-weight: bold;

    font-size: 14px;
    text-transform: uppercase;
    background-color: #db9423;
    font-weight: 500;
    color: white;
    border-radius: 100px 100px 100px 100px;
    padding: 15px 30px 15px 30px;
    border: 2px solid #db9423;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    @include hover {
      background-color: transparent;
      color: #db9423;
      border-color: #db9423;
    }
  }
}

.about-us {
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    @include mobile {
      gap: 50px;
    }

    @include laptop {
      flex-direction: column-reverse;
      align-items: center;
    }
  }
  &__images {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include mobile {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }

  &__image {
    @include mobile {
      width: 90%;
      height: auto;
    }
  }
  &__content {
    text-align: center;
  }

  &__title {
    color: #db9423;
    font-family: 'Arizonia', Sans-serif;
    font-size: 4em;
    font-weight: 700;
    letter-spacing: 2px;
  }

  &__subtitle {
    text-align: center;
    color: #ffffff;
    // font-family: 'Poppins', Sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 8.5px;
    margin-bottom: 30px;

    @include mobile {
      font-size: 16px;
      letter-spacing: 2px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: #ffffff;
    font-family: 'Poppins', Sans-serif;
    font-size: 14px;
    line-height: 1.5;
  }
}

.menu-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.menu-category-btn {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.menu-category-btn:hover {
  background-color: #e0e0e0;
}

.menu-content {
  margin-top: 20px;
}

.booking {
  width: 100%;
  height: 550px;
  background: url('../images/bookingImage.webp') center/cover no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @include mobile {
    height: 600px;
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    color: #ffffff;
    font-family: 'Arizonia', Sans-serif;
    font-size: 120px;
    font-weight: 500;
    letter-spacing: -1.3px;

    @include mobile {
      font-size: 70px;
    }
  }

  &__subtitle {
    text-align: center;
    color: #ffffff;
    // font-family: 'Poppins', Sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 8.5px;
    margin-bottom: 30px;

    @include mobile {
      font-size: 16px;
      letter-spacing: 1px;
    }
  }

  &__description {
    margin-top: 20px;
  }

  &__address {
    color: #ffffff;
    font-family: 'Poppins', Sans-serif;
    font-size: 14px;
    margin-top: 10px;
    line-height: 1.5;
  }

  &__content {
    text-align: center;
    color: white;
  }
}

.menu {
  &__wrapper {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    @include laptop {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }
  }

  &__title {
    color: #db9423;
    font-family: 'Arizonia', Sans-serif;
    font-size: 4em;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
  }

  &__subtitle {
    text-align: center;
    color: #ffffff;
    // font-family: 'Poppins', Sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 8.5px;
    margin-bottom: 50px;

    @include mobile {
      font-size: 16px;
      letter-spacing: 2px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__description {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 25px;
    color: #ffffff;
    font-family: 'Poppins', Sans-serif;
    font-size: 14px;
    line-height: 1.5;

    p:nth-child(1) {
      margin-bottom: 15px;
    }

    p:last-child {
      margin-bottom: 50px;
    }
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 20px;

    @include tablet {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }

    @include mobile {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }

  &__image {
    margin-right: 10px;
    width: 320px;
    &--wide {
      display: grid;
      row-gap: 20px;
    }

    @include mobile {
      width: 100%;
      height: auto;
    }

    &--2 {
      height: 215px;

      @include mobile {
        width: 100%;
        height: auto;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.footer {
  background: #000;
  color: #fff;
  padding: 40px 0;
  font-family: 'Roboto', sans-serif;

  &__wrapper {
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    gap: 150px;

    @include laptop {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 200px;
    }

    @include mobile {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 50px;
    }
  }

  // &__column {
  // }

  &__title {
    color: #db9423;
    font-family: 'Arizonia', Sans-serif;
    font-size: 48px;
    font-weight: 700;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
  }

  &__logo {
    margin-top: 20px;
    width: 150px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      font-size: 16px;
      line-height: 1.6;
    }
  }

  &__phone,
  &__email {
    color: #f4a529;
    text-decoration: none;
    font-weight: bold;
  }

  &__note {
    font-size: 14px;
    font-style: italic;
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      text-align: center;
    }
  }
}
