.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid #eee;
  border-top-color: #b88b4a;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 60px auto;

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
